<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ticari_Otomasyon.Properties.Settings.DboTicariOtomasyonConnectionString"
            connectionString="Data Source=URBEGZL-PC\SQLEXPRESS;Initial Catalog=DboTicariOtomasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="localhost_DboTicariOtomasyon_Connection" connectionString="XpoProvider=MSSqlServer;data source=URBEGZL-PC\SQLEXPRESS;integrated security=SSPI;initial catalog=DboTicariOtomasyon" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>